.home{
background-color: #202124;
width: 100vw;
margin-top: 4rem;
height:100vh;



}

.profile{
  border-radius: 50%;
  width:60%;
  position: absolute;
  width: 30%;
  top: 50%;
  margin-top: -240px;
  margin-left: -240px;
  left: 50%;
  border-color: white;
  border: #272828 solid 10px;

}

