.header {
    overflow: hidden;
    background-color: #1e1f22;
    vertical-align: middle;
   

    
  }
  .logo{
 
  }
  .header img {
    color: #e8eaed;
    text-align: center;
    vertical-align: middle;
  
    
    
    

    
    text-decoration: none;
    font-size: 24px; 

    border-radius: 4px;
  }
  .header a {
    overflow:hidden;
    color: #e8eaed;
   

    padding:30px;
    font-family: 'Fira Code', monospace;

    
    text-decoration: none;
    font-size: 24px; 

  }

 
  .header a.logo {
    font-size: 25px;
  
  }

  .header img:hover{
      opacity: 0.5;
  }
  
  .header a:hover {
  
    opacity: 0.5;
  }
  
  .header a.active {

    color: white;
  }
  

  .header-right-large{
      float:right;
      vertical-align: middle;
      padding-top: 0.8rem;
      
   
      
   
  }

  .header-right-small{
 position: absolute;
 visibility: hidden;
 
      
   
  }




  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    
    .header-right {
       
      float: none;
    }
  }


  @media screen and (max-width: 877px) {
  
    .header-right-large {
       
      position: absolute;
      opacity: 0;
    }

    .header-right-small{
      position: relative;
      visibility: visible;
    
        float:right;
        vertical-align: middle;
        padding-top: 0.8rem;
        padding-right: 5vw;
      
    }

  }
