
.h1{
  color:white;

  position:absolute;
  font-size: 102px;
  width: 50%;
  left:25%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-family: 'Fira Code', monospace;
  text-align: center;
  border: 5px solid #FFFF00;
  text-align: center;
  position: relative;
  background-color: rgb(0, 0, 0, 0.2);
}
.portfolio{
  background-color: #202124;
  width: 100vw;
  
  
  }

  @media screen and (max-width: 600px) {
    .h1{
      font-size: 40px;
    }
  } 
  .cards {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    gap: 1rem;
  }
  .grid-item{
    width:25vw;
  } 
  .card {

    height: 100%;
  }
  @media (min-width: 600px) {
    .cards { grid-template-columns: repeat(2, 1fr); }
  }
  @media (min-width: 900px) {
    .cards { grid-template-columns: repeat(3, 1fr); }
  }